body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: Merriweather, serif;
}

h1 {
    margin: 50px auto 0 auto;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px ;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}

a {
    text-decoration: none;
    color: #11999E;
}

p {
    line-height: 2;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.top-container {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
    height: 100%;
}

.middle-container {
    color: #40514E;
    margin: 100px 0;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.button {
    background-color: #11999E;
    border: none;
    color: lightgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
  }

  .button:hover {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    text-decoration: none;
  }

.subtitle {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
}

.couple-pic {
    height: 300px;
}

.profile {
    width: 50%;
    margin: auto;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
}

.couple-pic-small {
    width: 25%;
}