body {
    margin: 0;
    text-align: center;
    font-family: Merriweather, serif;
}

h1 {
    margin: 50px auto 0 auto;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4EFE7;
    position: relative;
    padding-top: 100px;
    height: 100%;
}

.middle-container {
}

.bottom-container {
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.subtitle {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
}
.couple-pic {
    height: 300px;
}