body {
    background-color: #FBF8F1;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: dotted none none;
    border-top-style: dotted none none;
    border-color: #E9DAC1;
    border-width: 5px;
    width: 10%;
}

img {
    height: 300px;
}

h1 {
    color: #54BAB9;
    font-size: 50px;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Fuzzy Bubbles', cursive;
}

h3 {
    color: #876445
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #876445;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

a {
    color: #CA955C;
    text-decoration: none;
}

table {
    color: #876445;
}

ul {
    color: #876445;
}

ol {
    color: #876445;
}

form {
    color: #876445;
}

h4 {
    color: #876445;
}

td {
    padding: 10px;
}

.circular {
    border-radius: 100%;
}
.circular-test {
    float: left;
    margin-right: 30px;
}

.header {
    font-size: large;
    margin-left: 30px;
    color: #876445;
    font-family: 'Montserrat', sans-serif;
}

.title {
    background-color: #F7ECDE;
    margin-top: 0px;
    height: 180px;
    width: 100%;
    margin-left: 0px;
    position: fixed;
    z-index: 1000;
    padding: 20px;
}

.title > h1 {
    margin-left: 20px;
    padding-top: 5px;
    font-family: 'Damion', cursive;
}

.main-body {
    margin-left: 20px;
    position: absolute;
    top: 200px;
}

.body {
    margin-left: 20px;
    position: absolute;
    top: 20px;
}

.mini-header {
    margin-left: 20px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

.bottom {
    text-align: center;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

ol {
    font-family: 'Montserrat', sans-serif;
}

table {
    font-family: 'Montserrat', sans-serif;
}